<div class="container">
  <div class="row content-heading">
    <div class="col-md-12">
      <h2>Members
        <span class="pull-right"><i class="fa fa-users fa-lg"></i></span>
      </h2>
    </div>
  </div>
  <div class="content-body">
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
        <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm">
        </div>
      </div>
    </div>
    <div class="row member-list">
      <div ng-repeat="user in filtered = users | filter: searchTerm" ng-if="filtered.length" class="col-md-3">
        <div class="well member-list-item">
          <h3>{{ user.username }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="well member-list-item"