$common-has-error-color: lighten(#a94442,5%);

$public-box-bg-color: darken(#fff,10%);
$public-box-border-color: #eee;
$public-box-shadow-color: lighten(#000,10%);

$font-family-script:  "Lobster" !default;

$fa-font-path:        "../bower_components/font-awesome/fonts" !default;
