.private-header {
	.persistent-navigation {
		@extend .navbar;
		@extend .navbar-default;
		@extend .navbar-fixed-top;

		.persistent-navigation-header {
			@extend .navbar-header;

			button {
				@extend .navbar-toggle;
			}

			a {
				@extend .navbar-brand;
				font: {
					family: $font-family-script;
				}
			}
		}

		.persistent-navigation-main {
			@extend .navbar-collapse;
			@extend .collapse;

			.nav-main {
				@extend .nav;
				@extend .navbar-nav;

				.albums:before {
					@extend .fa;
					@extend .fa-picture-o;
					padding-right: 5px;
				}

				.people:before {
					@extend .fa;
					@extend .fa-child;
					padding-right: 5px;
				}

				.pets:before {
					@extend .fa;
					@extend .fa-paw;
					padding-right: 5px;
				}
			}

			.nav-user {
				@extend .nav;
				@extend .navbar-nav;
				@extend .navbar-right;

				#user-menu:before {
					@extend .fa;
					@extend .fa-user;
					padding-right: 5px;
				}

				ul {
					@extend .dropdown-menu;

					.profile:before {
						@extend .fa;
						@extend .fa-home;
						padding-right: 5px;
					}

					.members:before {
						@extend .fa;
						@extend .fa-users;
						padding-right: 5px;
					}

					.logout:before {
						@extend .fa;
						@extend .fa-sign-out;
						padding-right: 5px;
					}
				}

				.dashboard:before {
					@extend .fa;
					@extend .fa-gears;
					padding-right: 5px;
				}
			}
		}
	}
}

.private-main {
	@extend .container;
	padding-top: 70px;

	.heading {
		@extend .row;
		h2 {
			@extend .text-uppercase;
			font: {
				weight: bolder;
			}
		}
	}

	.content {
		.searchbar {
			@extend .col-md-3;
			@extend .col-md-offset-9;
		}

		.member-list {
			@extend .row;
			margin-top: 20px;

			private-member-item {
				@extend .col-md-4;
			}
			.private-member-item {
				@extend .well;
				@extend .well-sm;

				.photo {
					@extend .col-sm-4;

					.icon {
						@extend .fa;
						@extend .fa-user;
						@extend .fa-4x;
					}
				}

				.info {
					@extend .col-sm-8;

					.username {
						font: {
							size: 18px;
						}
					}

					.roles {
						font: {
							size: 12px;
						}
					}

					.actions {
						@extend .btn-group;
						@extend .btn-group-sm;

						button {
							@extend .btn;
							@extend .btn-default;
						}
					}
				}
			}
		}

		.album-list {
			@extend .row;

			private-album-item {
				@extend .col-md-4;
				padding: 2px !important;
			}

			.private-album-item {
				@extend .thumbnail;
				width: 100%;
				overflow: hidden;
				position: relative;
				padding: 0;
				margin: 0;

				.overlay {
					@extend .row;
					width: 100%;
					position: absolute;
					overflow: hidden;
					left: 0;
					top: auto;
					bottom: 0;
					padding: 5px;
					margin: 0;
					background: rgba(0, 0, 0, 0.6);
					border-radius: 0 0 4px 4px;
					color: #3c4a50;
					-webkit-transition: -webkit-transform 0.35s;
					transition: transform 0.35s;
					-webkit-transform: translate3d(0,100%,0);
					transform: translate3d(0,100%,0);

					h2 {
						color: #fff;
						text-align: center;
						position: relative;
						font-size: 14px;
						padding: 5px;
						margin: 0px;
						display: inline-block;
						-webkit-transition: -webkit-transform 0.35s;
						transition: transform 0.35s;
						-webkit-transform: translate3d(0,200%,0);
						transform: translate3d(0,200%,0);
					}
				}
			}
			.private-album-item:hover {
				.overlay {
					-webkit-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);

					h2 {
						-webkit-transform: translate3d(0,0,0);
						transform: translate3d(0,0,0);
						-webkit-transition-delay: 0.05s;
						transition-delay: 0.05s;
					}
				}
			}
		}

		.photo-list {
			@extend .row;

			private-photo-item {
				@extend .col-md-4;
				padding: 2px !important;

				.private-photo-item {
					@extend .thumbnail;
					width: 100%;
					overflow: hidden;
					position: relative;
					padding: 0;
					margin: 0;
				}
			}
		}

		.profile-view {
			.user-info {
				@extend .dl-horizontal;

				dt {
					@extend .text-uppercase;
					font: {
						weight: bolder;
					}
				}

				dd {
					button {
						@extend .btn;
						@extend .btn-default;
					}
				}
			}
		}
	}
}

.private-member-modal {
	.modal-header {
		padding: 5px 10px 5px 10px;

		h3 {
			margin: 0;
			vertical-align: middle;
		}

		h3:before {
			@extend .fa;
			@extend .fa-user;
			@extend .fa-2x;
			margin-left: 15px;
			margin-right: 15px;
			background: $gray-lighter;
			color: lighten($gray-light, 5%);
		  border: 1px solid rgba(0,0,0,.2);
		  width: 60px;
		  height: 60px;
		  border-radius: 50%;
		  text-align: center;
		  line-height: 56px;
		  vertical-align: middle;
		}
	}
	.modal-body {
		.user-info {
			@extend .dl-horizontal;
			dt {
				@extend .text-uppercase;
				font: {
					weight: bolder;
				}
			}
		}
	}

	.modal-footer {
		button {
			@extend .btn;
			@extend .btn-default;
		}
	}
}

.private-photo-modal {
	.modal-body {
		padding: 0;
		img {
			@extend .img-responsive;
		}
	}
}

.private-profile-edit-modal {
	.modal-body {
		input {
			@extend .form-control;
		}
	}
	.modal-footer {
		button {
			@extend .btn;
		}

		.save {
			@extend .btn-primary;
		}

		.cancel {
			@extend .btn-default;
		}
	}
}
