.private-main {
	@extend .container;
	margin: auto;
	padding: {
		top: 70px;
	} // padding:

	.heading {
		.title {
			h2 {
				&.album {
					&::before {
						@extend .fa;
						@extend .fa-picture-o;
						padding-right: 10px;
					} // &:before
				} // &.album

				&.albums {
					&:before {
						@extend .fa;
						@extend .fa-picture-o;
						padding-right: 10px;
					} // &.before
				} // &.albums

				&.members {
					&:before {
						@extend .fa;
						@extend .fa-users;
						padding-right: 10px;
					} // &.before
				} // &.members

				&.profile {
					&:before {
						@extend .fa;
						@extend .fa-user;
						padding-right: 10px;
					} // &.before
				} // &.profile
			} //h2
		} //.title
	} // .heading

	.content {
		.member-list {
			@extend .row;

			private-member-item {
				@extend .col-xs-12;
				@extend .col-sm-6;
				@extend .col-lg-4;

				.private-member-item {
					@extend .well;
					@extend .well-sm;
					cursor: pointer;

					.photo {
						@extend .col-xs-3;
						@extend .text-center;
						padding: {
							right: 5px;
						}

						.icon {
							@extend .fa;
							@extend .fa-user;
							@extend .fa-4x;
							padding: {
								left: 10px;
								right: 10px;
								bottom: 5px;
							} // padding:
							color: $gray-light;
							background-color: $gray-lighter;
							border-radius: 50%;
							border: 1px solid darken($gray-light,10%);
							box: {
								shadow: 2px 2px 4px $gray-darker;
							} // box:
						} // .icon
					} // .photo

					.info {
						@extend .col-xs-9;

						p.username {
							font: {
								size: 18px;
							} // font:
							border: {
								bottom: 1px solid $gray-lighter;
							} // border:
							margin: {
								bottom: 5px;
							} // margin:
						} // .username

						dl {
							font: {
								size: 12px;
								weight: bold;
							}
							margin-bottom: 0;

							dt {
								float: left;
								width: ($private-member-item-dl-horizontal-offset - 10);
								clear: left;
								text-align: right;
								@include text-overflow;
							}

						  dd {
						    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
								margin-left: $private-member-item-dl-horizontal-offset;
						  }
						}

						.actions {
							@extend .btn-group;
							@extend .btn-group-sm;

							button {
								@extend .btn;
								@extend .btn-default;
							} // button
						} // .actions
					} // .info
				} // .private-member-item
			} // private-member-item
		} // .member-list

		.album-list {
			@extend .row;
		} // .album-list

		.photo-list {
			@extend .row;

		} // .photo-list

		.messages {
			@extend .row;
		}

		.profile {
			@extend .row;

			.user-info {
				@extend .col-md-6;
				@extend .col-md-offset-3;

				dl {
					@extend .dl-horizontal;
				} // dl
			} // .user-info
		} // .profile-view
	} // .content
} // .private-main
