.private-member-modal {
	.modal-body {
		dl {
			font: {
				weight: bold;
			}
			margin-bottom: 0;

			dt {
				float: left;
				width: ($private-member-modal-dl-horizontal-offset - 10);
				clear: left;
				text-align: right;
				@include text-overflow;
			}

			dd {
				@include clearfix; // Clear the floated `dt` if an empty `dd` is present
				margin-left: $private-member-modal-dl-horizontal-offset;
			}
		}
	}

	.modal-footer {
		button {
			@extend .btn-default;
		}
	}
}
