<div class="thumbnail thumbnail-album">
  <a ui-sref="gallery.album({albumId: album.id})"><img src="http://placehold.it/450x300"></a>
  <div class="row">
    <div class="col-md-6">
      <h4><a ui-sref="gallery.album({albumId: album.id})">{{ album.title }}</a></h4>
    </div>
    <div class="col-md-6">
      <p class="text-right text-muted">
        <small><i class="fa fa-tag"></i> Oporrak</small><br>
        <small><i class="fa fa-male"></i> Julen <i class="fa fa-female"></i> Nagore <i class="fa fa-paw"></i> Lio</small>
      </p>
    </div>
  </div>
</div>