<div class="dashboard-photo-item">
  <div class="row">
    <div class="photo">
      <div class="photo-frame">
        <img class="img-responsive" thumbnail-src="{{ $ctrl.photo.id }}" thumbnail-width="160">
      </div>
    </div>
    <div class="caption">
      <h3>
        <span ng-if="$ctrl.photo.title">{{ $ctrl.photo.title }}</span>
        <span ng-if="!$ctrl.photo.title">No title</span>
      </h3>
      <p>
        <span ng-if="$ctrl.photo.description">{{ $ctrl.photo.description }}</span>
        <span ng-if="!$ctrl.photo.description">No description</span>
      </p>
      <p ng-if="$ctrl.album.timestamp">
        <span ng-if="!$ctrl.album.timestamp">At {{ $ctrl.photo.timestamp | jsDate | date:'yyyy/MM/dd' }}</span>
      </p>
    </div>
    <div class="photo-info">
      <dl>
        <dt>Path</dt>
        <dd>{{ $ctrl.photo.path }}</dd>
        <dt>Created at</dt>
        <dd>{{ $ctrl.photo.created_at | jsDate | date:'yyyy/MM/dd HH:mm' }}</dd>
      </dl>
    </div>
  </div>
  <div class="actions">
    <button type="button" class="view" tooltip-append-to-body="true" uib-tooltip="View" ui-sref="dashboard.photo({photoId: $ctrl.photo.id})"><span class="sr-only">View</span><i></i></button>
    <button type="button" class="edit" tooltip-append-to-body="true" uib-tooltip="Edit" ng-click="$ctrl.edit()"><span class="sr-only">Edit</span><i></i></button>
  </div>
</div>
