<aside class="dashboard-sidebar">
  <nav class="sidebar-navigation" role="navigation">
    <div class="sidebar-navigation-header">
      <button type="button" ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p>Dashboard<i></i></p>
    </div>
    <div class="sidebar-navigation-main" uib-collapse="$ctrl.isNavCollapsed">
      <ul>
        <li ui-sref-active="active"><a ui-sref="dashboard.index">Index <i class="index"></i></a></li>
        <li ui-sref-active="active"><a ui-sref="dashboard.users">Users<i class="users"></i></a></li>
        <li ui-sref-active="active"><a ui-sref="dashboard.albums">Albums<i class="albums"></i></a></li>
      </ul>
    </div>
  </nav>
</aside>
