/* app css stylesheet */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 50px;
  margin-bottom: 60px;
  overflow: hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
}

.content {
  padding: 0px 15px 0;
  position: absolute;
  top: 60px;
  bottom:31px;
  width: 100%;
  overflow-y: auto;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 61px;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* alert-box */
.alert-box {
  position: absolute;
  padding-top: 10px;
  left: 0;
  right: 0;
  z-index: 9999;
  display: block;
}

.alert-box alert {
  padding-top: 20px;
}

.panel-login, .panel-sign {
  margin-top: 20px;
}

.panel-login-body, .panel-sign-body {
  padding-left: 50px;
  padding-right: 50px;
}

/* dashboard */
.dashboard-content {
  padding-left: 40px;
  padding-right: 40px;
}
.dashboard-heading, .content-heading {
  padding-top: 20px;
  border-bottom: 1px solid #eee;
}

.content-body {
  margin-top: 5px;
}

.dashboard-new-user-form, .dashboard-users-list {
  padding-top: 40px;
}

.dashboard-user-list-item-details .label {
  margin-right: 2px;
}

.dashboard-edit-user-form {
  padding-top: 10px;
}

.main {
  padding-top: 50px;
}

.input-group-addon-white {
  background-color: #fff;
}

.dashboard-user-list-heading {
  background-color: #f5f5f5;
}

.dashboard-edit-user-form {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -1px;
  padding-bottom: 10px;
}

.panel-sign .input-group {
  margin-top: 5px;
}
.panel-sign .buttons {
  margin-top: 10px;
}

.member-list {
  padding-top: 20px;
}

.member-list-item {
  margin-left: 5px;
  margin-right: 5px;
}

.thumbnail-album p {
  margin-bottom: 0px;
}