.public-header {
	text-align: center;
	margin: 20px auto 20px auto;

	h1 {
		font: {
			family: $font-family-script;
			size: 64px;
		}
		text-shadow: 2px 2px 4px $gray-darker;
	}

	h2 {
		margin-top: 50px;
		font-style: italic;
		color: darken($gray-lighter,20%);
	}
}
