.public-main {
	h3 {
		text-align: center;
		margin-bottom: 15px;
		@extend .text-uppercase;
		font: {
			weight: bolder;
		}
	}

	p {
		text-align: center;
	}

	%public-box {
		margin: 0 auto 20px auto;
		padding: 10px 30px 10px 30px;

		form {
			button {
				@extend .btn-default;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}

.register-form {
	@extend %public-box;
	width: 400px;

	button {
		span {
			&:before {
				@extend .fa;
				@extend .fa-user-plus;
				padding-right: 5px;
			}
		}
	}
}

.login-form {
	@extend %public-box;
	@extend .text-center;
	width: 280px;

	input {
		margin-bottom: 20px;
	}

	button {
		span {
			&:before {
				@extend .fa;
				@extend .fa-sign-in;
				padding-right: 5px;
			}
		}
	}
}

.already-logged {
	@extend %public-box;
	@extend .text-center;

	h3 {
		&:before {
			@extend .fa;
			@extend .fa-exclamation-triangle;
			@extend .fa-4x;
			display:block;
			margin: 20px 0 20px 0;
		}
	}
}

.uops {
	@extend %public-box;
	@extend .text-center;
	margin-top: 100px;

	h3 {
		&:before {
			@extend .fa;
			@extend .fa-exclamation-triangle;
			@extend .fa-4x;
			display: block;
			margin: 40px 0 20px 0;
		}
	}
}
