.heading {
  @extend .row;
  width: 100%;
  position: relative;

  .title {
    @extend .col-xs-12;

    h2 {
      @extend .text-uppercase;
      width: 100%;

      font: {
        weight: bolder;
      } // font:
      margin: {
        top: 10px;
      } // margin:
      text: {
        shadow: 2px 2px 4px $gray-darker;
      } // text:
    } // h2
  } // .title

  action-bar {
    position: absolute;
    right: 10px;
    top: 10px;
  }
} // .heading
