<main class="private-main">
  <div class="row">
    <private-album-item ng-if="$ctrl.albums.length" ng-repeat="album in $ctrl.albums" album="album" class="col-md-4">
    </private-album-item>
    <div ng-if="!$ctrl.photos.length" class="col-md-4 col-md-offset-4">
      No photos yet.
    </div>
    <private-photo-item ng-if="$ctrl.photos.length" ng-repeat-start="photo in $ctrl.photos" photo="photo" class="col-md-4 col-gallery">
    </private-photo-item>
    <div ng-if="$index%3==2" class="clearfix"></div>
    <div ng-repeat-end=""></div>
  </div>
</main>
