<div class="private-album-item">
  <a ui-sref="private.album({ albumId: $ctrl.album.id })">
    <img ng-if="$ctrl.album.caption_photo_id" thumbnail-src="{{ $ctrl.album.caption_photo_id }}" thumbnail-width="390">
    <img ng-if="!$ctrl.album.caption_photo_id" src="http://placehold.it/400x300?text=No+images">
    <div class="overlay">
      <i></i>
      <h2>
        <span ng-if="$ctrl.album.title !== undefined">{{ $ctrl.album.title }}</span>
        <span ng-if="$ctrl.album.title == undefined">No title yet.</span>
      </h2>
    </div>
  </a>
</div>
