<main class="private-main">
  <div class="heading">
    <div class="title">
      <h2 class="album">{{ $ctrl.album.title }}</h2>
    </div>
    <action-bar search-model="$ctrl.searchTerm">
    </action-bar>
  </div>
  <div class="content">
    <div class="album-list" ng-if="$ctrl.children.length">
      <private-album-item ng-repeat-start="child in $ctrl.filteredChildren = ($ctrl.children | filter: $ctrl.searchTerm)" ng-if="$ctrl.filteredChildren.length" album="child">
      </private-album-item>
      <div ng-if="$index%3==2" class="clearfix"></div>
      <div ng-repeat-end=""></div>
    </div>
    <div class="photo-list" ng-if="$ctrl.photos.length">
      <private-photo-item ng-repeat-start="photo in $ctrl.filteredPhotos = ($ctrl.photos | filter: $ctrl.searchTerm)" ng-if="$ctrl.filteredPhotos.length" photo="photo" album="$ctrl.album">
      </private-photo-item>
      <div ng-if="$index%3==2" class="clearfix"></div>
      <div ng-repeat-end=""></div>
    </div>
    <div class="messages">
      <div class="no-items" ng-if="!$ctrl.children.length && !$ctrl.photos.length">
        <p>No photos nor subalbums yet.</p>
      </div>
      <div class="no-filtered" ng-if="($ctrl.children.length || $ctrl.photos.length) && !$ctrl.filteredChildren.length && !$ctrl.filteredPhotos.length">
        <p>No photos or subalbums for your search criteria.</p>
      </div>
    </div>
  </div>
</main>
