<div class="thumbnail thumbnail-album">
  <a ui-sref="private.album({ albumId: $ctrl.album.id })">
    <img src="http://placehold.it/450x300">
    <div class="overlay">
      <div class="row">
        <div class="col-md-8">
          <h2>
            <span ng-if="$ctrl.album.title !== undefined">{{ $ctrl.album.title }}</span>
            <span ng-if="$ctrl.album.title == undefined">No title yet.</span>
          </h2>
        </div>
        <div class="col-md-2">
          <h2>{{ $ctrl.album.photos_count }}</h2>
        </div>
      </div>
    </div>
  </a>
</div>
