<main class="private-main">
    <div class="heading">
        <h2 class="members">Members</h2>
    </div>
    <div class="content">
      <div class="row">
        <div class="searchbar">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm">
          </div>
        </div>
      </div>
      <div class="member-list">
        <private-member-item ng-repeat="member in filtered = $ctrl.members | filter: searchTerm" ng-if="filtered.length" member="member">
        </private-member-item>
      </div>
</main>
