<main class="private-main">
  <div class="heading">
    <div class="title">
      <h2 class="members">Members</h2>
    </div>
    <div class="actions">
      <div class="actions-group">
        <span class="search-icon"><i></i></span>
        <input type="text" placeholder="Search" ng-model="$ctrl.searchTerm">
      </div>
    </div>
  </div>
  <div class="content">
    <div class="member-list">
      <private-member-item ng-repeat-start="member in $ctrl.filteredMembers = ($ctrl.members | filter: $ctrl.searchTerm)" ng-if="$ctrl.filteredMembers.length" member="member">
      </private-member-item>
      <div ng-if="$index%3==2" class="clearfix"></div>
      <div ng-repeat-end=""></div>
    </div>
    <div class="messages">
      <div class="no-items" ng-if="!$ctrl.members.length">
        <p>No members yet.</p>
      </div>
      <div class="no-filtered" ng-if="$ctrl.members.length && !$ctrl.filteredMembers.length">
        <p>No members for your search criteria.</p>
      </div>
    </div>
  </main>
