<div class="private-member-item">
  <div class="row">
    <div class="photo">
      <p class="icon"></p>
    </div>
    <div class="info">
      <p class="username">{{ $ctrl.member.username }}</p>
      <p class="roles" ng-if="$ctrl.member.roles"><span ng-repeat="role in $ctrl.member.roles">{{ role }}<span ng-if="!$last">, </span></span></p>
      <div class="actions" role="group">
        <button type="button" ui-sref="private.member({memberId: $ctrl.member.id})">Profile</button>
      </div>
    </div>
  </div>
</div>
